body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#taskList {
  list-style: none;
  padding: 0;
}

#taskList li {
  background: #e2e8f0;
  margin: 8px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  min-width: 125px;
}
h1{
    text-align: center;
}
.done {
  text-decoration: line-through;
  color: gray;
}

